*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 0;
    background-color: black;
    background-image: url("/src/resources/Earth.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    padding: 2rem;
    justify-content: center;
}

.container > div{
    margin: 10px;
}

.abductButton{
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px black;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.abductButton:hover{
    background-color: #00910a; 
}

.abductButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.text{
    color: #00e30f;
    font-family: 'Orbitron', sans-serif;
    margin: .5rem;
}

.counter{
    display: inline-flex;
    justify-content: center;
    background-color: black;
    width: 11rem;
    color: #ff0000;
    font-family: 'Orbitron', sans-serif;
    margin: .5rem;
}

.autoPrice{
    color: #ff0000;
    font-family: 'Orbitron', sans-serif;
}    

.multiPrice{
    color: #ff0000;
    font-family: 'Orbitron', sans-serif;
}

#headline{
    display: flex;
    justify-content: center;
    border-color: #ff0000;
    font-size: 5rem;
}

#humanCounter{
    display: flex;
    flex-direction: column;
    width: fit content;
    align-items: center;
    background-color: rgba(36, 33, 35, 0.74);
    border-radius: 15px;
}

#tractor{
    display: flex;
    flex-direction: column;
    width: 17rem;
    align-items: center;
    background-color: rgba(36, 33, 35, 0.74);
    border-radius: 15px;
}

.multiButton{
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px black;
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.multiButton:hover{
    background-color: #00910a; 
}

.multiButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#drone{
    display: flex;
    flex-direction: column;
    width: 17rem;
    align-items: center;
    background-color: rgba(36, 33, 35, 0.74);
    border-radius: 15px;
}

.priceCounter{
    display: inline-flex;
    justify-content: center;
    background-color: black;
    width: 11rem;
    color: #ff0000;
    font-family: 'Orbitron', sans-serif;
    margin: .5rem;
}

.autoButton{
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px black;
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.autoButton:hover {
    background-color: #00910a; 
}

.autoButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .modal-content {
    position: relative;
    background-color: rgba(29, 27, 28, 1);
    margin: auto;
    padding: 0;
    border: 1px solid #00e30f;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #00e30f;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
}
  
.modal-body {
    padding: 2px 16px;
}
  
.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: #ff0000;
}

#alien{
    width: 8rem;
    height:auto;
}

#buttonHolder{
    display:flex;
    justify-content: center;
}

#buttonHolder2 > button{
    margin-left: 1rem;
    margin-right: 1rem;
}

#buttonHolder2{
    display:flex;
    justify-content: center;
}

#buttonHolder > button{
    margin-left: 1rem;
    margin-right: 1rem;
}

#myBtn{
    float: center;
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px rgba(53, 53, 53, 1);
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#myBtn:hover {
    background-color: #00910a; 
}

#myBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#popupHeader{
    color: #ff0000;
}

#portfolio{
    float: center;
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px rgba(53, 53, 53, 1);
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#portfolio:hover{
    background-color: #00910a; 
}

#portfolio:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#footContainer{
    padding-top: 1.8rem;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: rgba(36, 33, 35, 0.84);
    margin-bottom: none;
    padding-bottom: none;
    
}

#nextSong{
    float: center;
    background-color: #00e30f;
    border-radius: 10px;
    font-size: rem;
    font-family: 'Orbitron', sans-serif;
    width: fit-content;
}

#nextSong:hover{
    background-color: #00910a; 
}

#nextSong:active{
    background-color: #3e8e41;
    transform: translateY(4px);
}

#cookie{
    float: center;
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px rgba(53, 53, 53, 1);
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#cookie:hover {
    background-color: #00910a; 
}

#cookie:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#restart{
    background-color: #00e30f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 9px rgba(53, 53, 53, 1);
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#restart:hover {
    background-color: #00910a; 
}

#restart:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}